.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100%;
  width: 100%;
}
.settings {
  height: fit-content;
  max-height: 80%;
  width: 70%;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: var(--container-border-radius);
}

.input.name {
  all: unset;
  width: 100%;
}

.change {
  display: flex;
  justify-content: space-between;
}

.change button {
  cursor: pointer;
  color: var(--blue-secondary);
  padding: 0 10px;
}

.button {
  width: var(--button-width);
  height: var(--button-height);
  background: var(--blue-primary);
  border-radius: var(--button-border-radius);
  font-weight: 500;
  font-size: var(--regular-font-size);
  color: var(--nav-text-white);
  margin: 0 auto;
  cursor: pointer;
}

.button:hover {
  background-color: var(--blue-primary-hover);
  opacity: 0.9;
  transition: all 0.2s ease-in-out;
}

.button:active {
  scale: 0.95;
}

.select,
.change {
  border: var(--border-thickness) solid var(--border-color);
  border-radius: var(--input-border-radius);
  padding: 5px;
  width: 100%;
}

.preferences {
  display: flex;
  justify-content: space-between;
  border: var(--border-thickness) solid var(--border-color);
  border-radius: var(--input-border-radius);
  padding: 5px;
}

.preferences input {
  padding: 5px;
  transform: scale(1.3);
}

.h2 {
  font-family: var(--font-family-manrope);
  font-style: normal;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 36px;
  display: flex;
  align-items: center;
  color: color(display-p3 0.122 0.122 0.122);
}

.div {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.checkbox {
  width: 14px;
  height: 14px;
  appearance: none;
  border: 1px solid var(--off-black);
  border-radius: var(--circle-border-radius);
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-top: 5px;
  margin-right: 10px;
}

.checkbox:checked {
  background: #00dcb7;
}
